<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="title" content="<?= $title; ?>"/>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">

      <div class="row">
        <div class="container">
          <div class="col-md-12">

            <div class="header__logo">
              <a class="header__title" href="<%= home_index_path %>">
                LearnRails
              </a>
            </div>
            <div class="header__list">
              <a class="header__item" href="">Products</a>
              <a class="header__item" href="">Sign In</a>
            </div>

          </div>
        </div>
      </div>

    </header>

    <%= yield %>

  </body>
</html>
