<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="title" content="<?= $title; ?>"/>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="header">
      <div class="header__logo">
        <a class="header__link" href="<%= home_index_path %>">
          <h2 class="header__title">LearnRails</h2>
        </a>
      </div>
    </header>

    <%= yield %>

  </body>
</html>
